:root {
  --blue: #1a9af7;
  --dark-blue: #175791;
  --light-blue: #d9f4ff;
  --warm-black: #201e1c;
  --black: #282623;
  --just-white: #ffffff;
  --grey: #616161;
  --green: #00b800;
  --red: #ff2323;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  background-color: var(--light-blue);
}

header {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-blue);
}

header h1 {
  color: var(--dark-blue);
  padding-left: 1rem;
}

header ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

header li {
  list-style: none;
  padding-right: 0.5rem;
}

header ul li a {
  font-size: 1.2rem;
  color: var(--dark-blue);
  text-decoration: none;
}

main .presentation {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 3rem;
  padding-right: 2rem;
  width: 100%;
  min-width: 32rem;
  height: 40vh;
  background-image: url(../imgs/me.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.presentation span {
  text-align: center;
  font-size: 3rem;
  color: var(--just-white);
}

.presentation p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--just-white);
}

.about-me {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: var(--light-blue);
}

.about-me img {
  position: relative;
  top: -5rem;
  left: calc(50% - 5rem);
  width: 10rem;
  border-radius: 50%;
  border: 0.3rem solid var(--just-white);
}

.about-me h2 {
  position: relative;
  top: -3rem;
  font-size: 2rem;
  margin-left: 1rem;
}

.about-me p {
  margin: 0 auto;
  position: relative;
  font-size: 1.5rem;
  margin: 0 1rem;
  margin-bottom: 2rem;
}
.main-portfolio {
  background-color: var(--dark-blue);
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5rem;
}

.portfolio-title {
  align-items: start;
  font-size: 2rem;
  margin-left: 1.6rem;
  padding-top: 2rem;
  color: var(--just-white);
}

.card-project {
  width: 95%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 2rem;
  height: 36rem;
  max-width: 26rem;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.16);
  background-color: var(--just-white);
}
.card-project a {
  width: 100%;
  text-decoration: none;
}
.card-project a img {
  position: relative;
  top: 0;
  width: 100%;
  height: 17rem;
  border-top-left-radius: 0.8rem;
  border-top-right-radius: 0.8rem;
}

.card-project a h3 {
  font-size: 2rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  color: var(--dark-blue);
}

.card-project a p {
  margin: 0 auto;
  font-size: 1.2rem;
  padding: 1rem;
  color: var(--grey);
}

.main-skills {
  padding-bottom: 2rem;
  padding-top: 2rem;
  background-color: var(--light-blue);
}

.main-skills h2 {
  align-items: start;
  font-size: 2rem;
  margin-left: 1.6rem;
  padding-bottom: 1rem;
}

.skill-list {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  display: flex;
}

.skill-list .html {
  width: 4rem;
  height: 4rem;
  background-image: url(../imgs/html.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.5rem var(--grey));
}

.skill-list .css {
  width: 4rem;
  height: 4rem;
  background-image: url(../imgs/css-3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.5rem var(--grey));
}

.skill-list .javascript {
  width: 4rem;
  height: 4rem;
  background-image: url(../imgs/js.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.5rem var(--grey));
}

.skill-list .angular {
  width: 4rem;
  height: 4rem;
  background-image: url(../imgs/angular.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.5rem #8b8b8b);
}

form {
  font-size: 1.6rem;
  height: auto;
}

fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30rem;
  margin: 0 auto;
  border: none;
  border-radius: 0.8rem;
  background-color: var(--dark-blue);
}

.legend {
  background-color: var(--blue);
  color: var(--just-white);
  font-size: 1.5rem;
  padding: 0.2rem 0.6rem;
  margin-left: 0.5rem;
  border-radius: 0.8rem;
}

input {
  width: 25rem;
  padding-top: 4rem;
  align-content: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 0.8rem;
  border: none;
}

textarea {
  width: 25rem;
  padding: 1rem 1rem;
  margin-top: 1rem;
  border-radius: 0.8rem;
  border: none;
}

.send {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
  background: var(--light-blue);
  border: none;
  border-radius: 0.8rem;
  color: var(--dark-blue);
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;

  &:hover {
    background: var(--blue);
    color: var(--just-white);
  }
}

.social-media {
  margin: 0 auto;
  width: 30rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.social-media ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
}

.social-media img {
  width: 5rem;
  height: 5rem;
}
