:root {
  --blue: #1a9af7;
  --dark-blue: #175791;
  --light-blue: #8bc6f0;
  --warm-black: #201e1c;
  --black: #282623;
  --just-white: #ffffff;
  --grey: #616161;
  --green: #00b800;
  --red: #ff2323;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
  background-color: var(--blue);
}

header {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

header div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

header div h1 {
  font-size: 5rem;
  color: var(--just-white);
}

span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: var(--just-white);
}

span a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--dark-blue);
  &:hover {
    padding: 1.2rem;
    background-color: var(--dark-blue);
    color: var(--just-white);
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

main .index-h2 {
  font-size: 4rem;
  color: var(--just-white);
  padding-top: 4rem;
}

.figures {
  display: flex;
  gap: 3rem;
}

.figures h3 a {
  text-decoration: none;
  font-size: 2rem;
  color: var(--dark-blue);
}

.circle {
  padding: 3rem 1rem;
  background-color: var(--just-white);
  border-radius: 50%;
  border: 0.5rem outset var(--light-blue);
}

.rectangle {
  padding: 3rem 1rem;
  background-color: var(--just-white);
  border: 0.5rem outset var(--light-blue);
}

/* Estilos para hoja de Circulo */

.title-img {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 30rem;
  background-image: url(../imgs/fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-img img {
  height: 20rem;
  filter: drop-shadow(0 0 1rem #fff);
}

.title-img .circle-h2 {
  padding: 2.5rem 1rem;
  background-color: var(--just-white);
  color: var(--dark-blue);
  border-radius: 50%;
  filter: drop-shadow(0 0 1rem #fff);
}

.title-img .rect-h2 {
  padding: 2.5rem 1rem;
  background-color: var(--just-white);
  color: var(--dark-blue);
  filter: drop-shadow(0 0 1rem #fff);
}

.calc {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.calc img {
  border-radius: 0.8rem;
}

.calc__input form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.calc .calc__input legend {
  font-size: 1.6rem;
  color: var(--just-white);
}

.calc .calc__input label input {
  padding: 0.7rem;
  border: none;
  border-radius: 0.8rem;
  margin-top: 0.5rem;
  /*Esconder las flechas del input number*/
  &::-webkit-inner-spin-button,
  -webkit-outer-spin-button {
    -webkit-appearance: none;
  }
}

.calc__output {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.calc__output legend {
  font-size: 1.6rem;
  color: var(--just-white);
}

.calc__output label {
  font-size: 1.4rem;
  color: var(--just-white);
}

.calc__output input {
  padding: 0.7rem;
  border: none;
  border-radius: 0.8rem;
  margin-bottom: 0.5rem;
}

.btn-calc {
  padding: 1.5rem;
  color: var(--dark-blue);
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
  &:hover {
    background-color: var(--dark-blue);
    color: var(--just-white);
  }
}
