:root {
  --blue: #0c66e1;
  --dark-blue: #000853;
  --light-blue: #c5d5f9;
  --just-white: #ffffff;
  --grey: #666666;
  --warm-black: #201e1c;
  --black: #282623;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Unica One", sans-serif;
}
