<main>
  <section class="perfil">
    <img
      src="../assets/img/avatar.jpg"
      alt="imagen de avatar"
      class="perfil__avatar"
    />
    <h2 class="perfil__nombre">John Wick</h2>
    <h3 class="perfil__titulo">Asesino legendario</h3>
    <a href="" class="perfil__boton">Seguir</a>

    <div class="perfil--estadistica">
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">12K</h3>
        <span class="estadistica__elemento--texto">Seguidores</span>
      </div>
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">1.7K</h3>
        <span class="estadistica__elemento--texto">Siguiendo</span>
      </div>
      <div class="estadistica__elemento">
        <h3 class="estadistica__elemento--numero">40</h3>
        <span class="estadistica__elemento--texto">Artículos</span>
      </div>
    </div>
    <div class="perfil__bio">
      <h2>Acerca de mi</h2>
      <h3>Asesino a sueldo retirado y amante de los perros</h3>
    </div>
    <div class="perfil__ubicacion">
      <i class="fa-solid fa-location-dot fa-2xl"></i>
      <div class="perfil__ubicacion--place">
        <h2>Estados Unidos</h2>
        <h3>227km cerca</h3>
      </div>
    </div>
    <div class="perfil--galeria">
      <h2>Mis fotos</h2>
      <div class="galeria__imagenes">
        <div class="imagenes--foto1 fotos"></div>
        <div class="imagenes--foto2 fotos"></div>
        <div class="imagenes--foto3 fotos"></div>
        <div class="imagenes--foto4 fotos"></div>
      </div>
    </div>
  </section>
  <section class="noticias">
    <div class="noticias__consola">
      <h2>Playstation</h2>
      <h3>GTA VI: Filtraciones de información que son bastante dudodas</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum modi,
        molestiae quidem voluptatem et eos nihil ad nostrum dolore inventore rem
        sint recusandae. Repellendus placeat adipisci culpa optio architecto
        facilis?
      </p>
    </div>
    <div class="noticias__border"></div>
    <div class="noticias__consola">
      <h2>Switch</h2>
      <h3>
        Secuela de The Legend of zelda: breath of the wild anunciada en el e3
        2019
      </h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum modi,
        molestiae quidem voluptatem et eos nihil ad nostrum dolore inventore rem
        sint recusandae. Repellendus placeat adipisci culpa optio architecto
        facilis?
      </p>
    </div>
    <div class="noticias__border"></div>
    <div class="noticias__consola">
      <h2>Xbox</h2>
      <h3>red dead online recibe actualización masiva y sale de beta</h3>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laborum modi,
        molestiae quidem voluptatem et eos nihil ad nostrum dolore inventore rem
        sint recusandae. Repellendus placeat adipisci culpa optio architecto
        facilis?
      </p>
    </div>
    <div class="noticias__border"></div>
  </section>
</main>

<router-outlet />
